#big_title{
    background-color: black;
    font-size: 45px;
    color: cornsilk;
    font-style: initial;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;

}

body{
    background-image: url(images/math_background.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 1000px; 
    display: flex;
    justify-content: center;  
    align-self: center; 
}

#box{
    height: 600px;
    width: 450px;
    border-style:double;
    border-width: 8px;
    border-radius: 20px;
    border-color: black;
    background-color: rgb(255, 166, 0);
    margin-top: 120px;
}

#screen{
    height: 70px;
    width: 410px;
    border-style: solid;
    border-width: 2px;
    border-radius: 12px;
    background-color: rgb(189, 217, 218);
    margin-left: 15px;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end ;
    font-size: xx-large;
}

#button_input{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    margin-top: 20px;
    grid-gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.number{
    background-color: rgb(111, 143, 212);
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    box-shadow: black;
    height: 85px;
    width: auto;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.operator{
    background-color: rgb(235, 32, 25);
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    box-shadow: black;
    height: 85px;
    width: auto;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.operator:hover{
    transform: scale(1.05);
}

.number:hover{
    transform: scale(1.05);
}

.clearBtn:hover{
    transform: scale(1.05);
}

.clearBtn{
    background-color: rgb(22, 60, 143);
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    box-shadow: black;
    height: 85px;
    width: auto;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
